.search-container {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-container h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

.search-container input {
    padding: 5px 5px;
    margin-bottom: 0px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-container button {
    padding: 5px 20px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.search-container button:hover {
    background-color: #45a049;
}

.blockchain-details {
    margin-top: 20px;
    max-height: 600px;
    overflow-y: auto;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.app-logo3 {
    width: 150px;
    height: auto;
    margin-bottom: 20px;
    margin: 0 auto 20px;
    display: block;
    
}